// Common styles
// -------------------------------

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, header, hgroup, section, article, aside, hgroup, footer, figure, figcaption, nav {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    color: #333;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

em {
    font-style: italic;
}

img {
    border: 0 none;
    vertical-align: bottom;
    max-width: 100%;
}

ul, ol {
    list-style: none outside none;
}

.container {
    margin: 0 auto;
}

.payment-radio {
    display: none;
}

.payment-label {
    cursor: pointer;
    display: inline-block;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/kurashicom-images/shop/2016-07-28/9b91b13040df9a93181fa67b5a628b3a.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    height: 30px;
    padding-left: 30px;
}

.payment-label.checked {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/kurashicom-images/shop/2016-07-28/274adc27086d6a3ae893de1b404e5e0e.png);
}

.payment-description {
    max-height: 0;
    overflow: hidden;
}

.payment-description.shown {
    max-height: 1000px;
    -webkit-transition: max-height 0.75s ease-in;
    -moz-transition: max-height 0.75s ease-in;
    -ms-transition: max-height 0.75s ease-in;
    -o-transition: max-height 0.75s ease-in;
    transition: max-height 0.75s ease-in;
}
